<div class="row">

<%= simple_form_for @item, :html=> { class: 'col-6' } do |f| %>
<%= f.error_notification %>
    <%= f.input :user_id , as: :hidden, :input_html => { :value => current_user.id }%>
    <%= f.input :sku , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }%>
    <%= f.input :barcode , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }%>
    <%= f.input :title , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }%>
    <%= f.input :description , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' }%>
    <div class="row">
    <%= f.input :quantity , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group  col-4' }%>
    <%= f.input :costprice , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-4' }%>
    <%= f.input :price , input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group col-4' }%>
    </div>
  <div class="btn-group my-3" role="group">
    <%= f.button :submit, 'Сохранить' , class: 'btn btn-success'%>
    <%= link_to 'Назад', url_for(:back), class: 'btn btn-info' %>
    </div>
<% end %>

<div class="col-6 ">
    <%= form_for Itemimage.new, :url => itemimages_path, html: { multipart: true } do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.file_field :image, multiple: true , name: 'itemimage[image]', class: "inputfile"  %>
      <%= f.label :image do %>
        <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
        <span class="uploadtext">Upload</span>
      <% end %>
    <% end%>
  <% # jquery upload template # %>
  <script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>

  <ul id="images" data-update-url="<%= sort_itemimages_url %>">
    <%@item.itemimages.each do |pic|%>
    <% if pic.persisted?%>
    <%= content_tag_for :li, pic do %>
    <span class="sort-image">
    <%= link_to image_tag(pic.image.url(:thumb)), pic.image.url %>
      <div class="actions">
        <%= link_to '<i class="fa fa-trash fa-2x" aria-hidden="true"></i>'.html_safe, itemimage_path(pic, :from=>"items"), :confirm => 'Точно удалить?', :method => :delete %>
      </div>
      </span>
    <%end%>
    <%end%>
    <%end%>
  </ul>
</div>

</div>
